*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button,
[type="submit"],
a {
  cursor: pointer;
}

ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

input:focus,
select:focus {
  outline: none;
}

a {
  text-decoration: none;
}
